services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    command: ["mongod", "--wiredTigerCacheSizeGB", "0.25"]
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongo-data:/data/db
    networks:
      - nestjs_network
    deploy:
      resources:
        limits:
          memory: 350M 
        reservations:
          memory: 150M

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    networks:
      - nestjs_network
    deploy:
      resources:
        limits:
          memory: 300M
        reservations:
          memory: 150M

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: ${NODE_ENV}
    ports:
      - "${PORT}:${PORT}"
    environment:
      NODE_ENV: ${NODE_ENV} 
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_DB: ${MONGO_DB}
      MONGO_USER: ${MONGO_USER}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      MONGO_AUTH_SOURCE: ${MONGO_AUTH_SOURCE}
      WATCHPACK_POLLING: ${WATCHPACK_POLLING}

      # Pass Atomic RabbitMQ Vars
      RABBITMQ_HOST: ${RABBITMQ_HOST}
      RABBITMQ_PORT: ${RABBITMQ_PORT}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASS: ${RABBITMQ_PASS}

      # Pass Auth Secrets
      JWT_SECRET: ${JWT_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_RESET_SECRET: ${JWT_RESET_SECRET}
      RESET_PASSWORD_LINK: ${RESET_PASSWORD_LINK}
    depends_on:
      - mongodb
      - rabbitmq
      # - redis
    networks:
      - nestjs_network
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - dist/
            - .git/
        
        - action: rebuild
          path: package.json
        - action: rebuild
          path: package-lock.json

volumes:
  mongo-data:
    driver: local
  redis_data:
    driver: local

networks:
  nestjs_network:
    driver: bridge