services:
  mongodb:
    restart: always

  rabbitmq:
    restart: always

  redis:
    restart: always

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    environment:
      NODE_ENV: production
    restart: always
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure

  nginx:
      image: nginx:latest
      container_name: nginx_lb
      volumes:
        - ./nginx.conf:/etc/nginx/nginx.conf:ro
      ports:
        - "80:80"
      depends_on:
        - api
      networks:
        - nestjs_network